@import '../../styles/settings.scss';

nav {
  background-color: darken($color-dark, 3%);
}
.navbarInner {
    justify-content: space-between;
    align-items: center;
    display: flex;
    i {
      font-size: 24px;
      color: white;
    }
    li {
      margin-right: 10px;
      display: inline-block;
      a {
        text-decoration: none;
        color: $color-light;
        font-weight: bold;
      }
    }
}